.dados-produto{
    background-color: blue;
 
}

.img-produto{
    background-color: rgb(0, 0, 0);
    width: 50% ;
}

.info-produto{
    background-color: rgb(179, 23, 95);
}

.titulo-produto{
    background-color: rgb(255, 66, 183);
}

.valor-produto{
    background-color: rgb(77, 10, 51);
}

.add-produto-carrinho{
    background-color: rgb(24, 14, 0);
}

.descricao-produto{
background-color: rgb(144, 178, 243);
}

section{
    background-color: rgb(173, 8, 255);
}
.card.produto{
    width:268px;
    height: 474px;
    background-color: #FFFFFF;
    margin: 10px 5px;
    border: 2px solid #000000;
}

.lista-personalizada{
    list-style:none  ;
}
